{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row sign-up">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="section">
                <h1>HoodWatch</h1>
                <div class="form-section">
                    <form action="/accounts/login/" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign In">
                        </div>
                        <input type="hidden" name="next" value="{% url 'home' %}">
                    </form>
                </div>
            </div>
            <div class="section">
                <p>Don't have an account? <a href="{% url 'registration_register' %}">Sign-Up</a></p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}