{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row signup-page">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="signup-fields">
                <div class="section">
                    <h1>HoodWatch</h1>
                    <div class="form-section">
                        <form method="POST", action=".">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Sign up">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                    </div>
                </div>
                <div class="section">
                    <p>Have an account? <a href="/accounts/login/">Sign In</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}